<h2>Children</h2>

<table>
  
<% @children.each do |child| %>
	<div class="well">
	  <%= image_tag child.image_url(:thumb) %>
	  <%= child.name %> |
	  <!-- <%= child.dob %> -->
	  <%= child.total_points %> points
	</div>
  
<% end %>

<div class="well"><%= link_to '+ Child', new_child_path %>
</div>






































