<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <!-- <div class="field">
      <%# f.label :is_rewarded %><br />
      <%# f.check_box :is_rewarded %>
    </div> -->

  <div class="field">
    <%= f.label :costs_points %><br />
    <%= f.number_field :costs_points %>
  </div>

  <!-- <div class="field">
    <%# f.label :child_id %><br />
    <%# f.number_field :child_id %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
