<h1>Listing rewards</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Image</th>
    <th>Is rewarded</th>
    <th>Costs points</th>
    <th>Child</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rewards.each do |reward| %>
  <tr>
    <td><%= reward.description %></td>
    <td><%= reward.image %></td>
    <td><%= reward.is_rewarded %></td>
    <td><%= reward.costs_points %></td>
    <td><%= reward.child_id %></td>
    <td><%= link_to 'Show', reward %></td>
    <td><%= link_to 'Edit', edit_reward_path(reward) %></td>
    <td><%= link_to 'Destroy', reward, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reward', new_reward_path %>
